@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')
$maincolor: rgb(46, 21, 52)
$secondarycolor: rgb(95, 64, 103)
$lightcolor: rgb(237, 229, 239)
$grey: rgb(79, 79, 79)

*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    margin: 0
    padding: 0

header
    display: flex
    justify-content: center
    align-items: center
    background-color: $maincolor

.brand
    cursor: pointer
    height: 50px
    width: 50px
    padding-right: 5px

ul
    list-style-type: none
    overflow: hidden
    background-color: $maincolor

li
    float: left

li a
    display: block
    color: $lightcolor
    text-align: center
    text-decoration: none
    padding: 15px
    transition: 0.15s ease

li a:hover
    border-right: 1.5px solid $lightcolor

.title
    font-size: 35px
    vertical-align: middle

body
    margin-top: 
    background-color: $lightcolor
    color: $secondarycolor

.container1
    padding-top: 100px

.welcomemessage
    display: flex
    justify-content: center
    text-align: center
    font-size: 20px

footer
    position: relative
    min-height: 100%
    width: 100%
    background-color: $maincolor
    color: white
    text-align: center

footer a
    color: white


@media all and (min-width:321px) and (max-width: 480px)
